<!-- Josh Mansfield -- Web developent and databases. Student number  22013261 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Horizon Travels</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='apple-touch-icon-precomposed.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<style>
    @media screen and (max-width: 700px) {
        .plane-image img {
            width: 100% !important;      
        }   
    }
</style>
<body class="bg-dark text-white">

  <nav class="navbar navbar-expand-lg bg-dark navbar-dark px-5">
    <a href="/" class="navbar-brand" id="logo">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Horizon Travels Logo" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <button type="button" class="btn btn-outline-secondary me-3" onclick="window.location.href='/'">Home</button>
            <button type="button" class="btn btn-outline-info me-3" onclick="window.location.href='/about'">About</button>
            {% if session.get('user_name') %}
                <a href="{{ url_for('account') }}" class="btn btn-outline-secondary me-3">Hello, {{ session['user_name'].split(' ')[0] }}</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="btn btn-outline-secondary me-3">Log in</a>
            {% endif %}
        </ul>
    </div>
  </nav>

  <section class="aboutpage">
    <p class="display-heading">About Us</p>
    <br>
    <p class="about1"> 
        Welcome to Horizon Travels, your premier partner for exploring the United Kingdom in comfort and style. We specialize in providing comprehensive travel solutions that cater to a wide range of needs, whether you're planning a leisurely holiday, a business trip, or a special event. Our emphasis on national travel ensures we secure you the best times and destinations at the best prices.
    </p>
            <div class="fleet-header text-center">
            <h2 class="display-heading">Our Fleet</h2>
            <br>
            <p class="about1">
                At Horizon Travels we operate several airbus A320 aircraft, which are renowned for their reliability, comfort, and safety features. Our fleet is maintained to the highest standards, ensuring that you can travel with peace of mind.
            </p>
            <div class="our-fleet">
                <div class="plane-image text-center">
                    <img src="{{ url_for('static', filename='plane.png') }}" alt="Airbus A320" class="img-fluid my-4" style="width: 37%;">
                </div>
        </div>
    </div>
    <table class="table table-dark text-white mx-auto" style="max-width: 600px; margin-top: 20px;">

        <tbody>
            <tr>
                <th scope="row">Model</th>
                <td>Airbus A320-232</td>
            </tr>
            <tr>
                <th scope="row">Engines</th>
                <td>CFM 56-A</td>
            </tr>
            <tr>
                <th scope="row">Max Range</th>
                <td>3,300 nm</td>
            </tr>
            <tr>
                <th scope="row">Length</th>
                <td>37.6 M</td>
            </tr>
            <tr>
                <th scope="row">Wingspan</th>
                <td>33.91 M</td>
            </tr>
            <tr>
                <th scope="row">Wing Type</th>
                <td> Sharklets & Wingtip Fences </td>
            </tr>
            <tr>
                <th scope="row">Max Speed</th>
                <td> 490 knots </td>
            </tr>
            <tr>
                <th scope="row">Max passengers</th>
                <td>194</td>
            </tr>
        </tbody>
    </table>
  </section>
  <h2  class="display-heading" >Boarding Process</h2>
  <br>
  <p class="about1 text-start mx-auto" style="max-width: 800px;">
      To ensure a smooth and efficient boarding process, Horizon Travels follows a structured boarding system based on groups. We allow passengers to choose their seats once they board the aircraft. If you require spesific seating please contact us and we will arrange for you to be in priority boarding.
  </p>
  <br>
  <ul class="text-start mx-auto" style="max-width: 800px;">
      <li><strong>Priority Boarding:</strong> Passengers with disabilities, families with young children, and Business class ticket holders board first.</li>
      <li><strong>Group 1:</strong> Group 1 are called second. </li>
      <li><strong>Group 2:</strong> Group 2 are called third. </li>
      <li><strong>Group 3:</strong> Group 3 are called fourth. </li>
      <li><strong>Group 4:</strong> Group 4 are called fith. </li>
      <li><strong>Group 4:</strong> Group 5 are called last. </li>
  </ul>
  <p class="about1 text-start mx-auto" style="max-width: 800px;">
    To see the seat map please click <a href="{{ url_for('seating') }}" class="text-info fw-bold">Here</a>.</p>

  <div class="contact">
    <button id="contactButton" class="btn btn-info rounded-circle">
        <i class="bi bi-question-circle"></i> 
    </button>
    <div id="contactCard" class="card shadow-lg" style="display: none; position: fixed; bottom: 90px; right: 20px; width: 300px;">
        <div class="card-header  text-info d-flex justify-content-between align-items-center">
            <span>Contact Us</span>
            <button type="button" class="btn-close btn-close-white" id="closeContactCard" aria-label="Close"></button>
        </div>
        <div class="card-body bg-dark text-black">
            <button class="btn btn-info w-100 mb-2" onclick="window.location.href='tel:020 7946 0000'">Call Us</button> <!-- phone number doesnt exist its an ofcom reserved number for media -->
            <button class="btn btn-info w-100 mb-2" onclick="window.location.href='mailto:info@horizontravels.com'">Email Us</button>
            <button class="btn btn-info w-100 mb-2" onclick="window.open('https://maps.app.goo.gl/pabouXPEYX86P4m59', '_blank')">Visit Us</button>
            <button class="btn btn-info w-100 mb-2" onclick="window.location.href='/seating'">Seat Map</button>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
  <footer class="text-center text-white bg-dark py-3">
      <p>© 2024 Horizon Travels. All Rights Reserved.</p>
  </footer>

</body>
</html>
<script>
     document.getElementById('logo').addEventListener('click', function(event) {
        if (event.shiftKey) {
            event.preventDefault(); // Prevent the default navigation
            window.location.href = "{{ url_for('admin_panel') }}"; // Replace with your admin panel URL
        }
    });
    document.addEventListener('DOMContentLoaded', function () {
        const contactButton = document.getElementById('contactButton');
        const contactCard = document.getElementById('contactCard');
        const closeContactCard = document.getElementById('closeContactCard');

        contactButton.addEventListener('click', function () {
            contactCard.style.display = contactCard.style.display === 'none' ? 'block' : 'none';
        });

        closeContactCard.addEventListener('click', function () {
            contactCard.style.display = 'none';
        });
    });
  
</script>